.inputsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.inputsBlock input {
    width: 90%;
    margin-bottom: 10px;
}

.buttonBlock {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.errorMessage {
    position: absolute;
    width: 250px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: red
}