.settingsBlock {
    min-width: 126px;
    height: 160px;
}

.inputsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.inputsBlock input {
    width: 90%;
    margin-bottom: 10px;
}

.buttonBlock {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.errorMessage {
    position: absolute;
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: red
}